{% extends "::base.html.twig" %}
{% block stylesheets %}
<link rel="stylesheet" href="{{ asset('dist/css/bootstrap.min.css') }}" />

{% endblock %}
{% block title %}SNTImmobilierBundle:Front:searchBien{% endblock %}

{% block body %}
<form method="post">
        <h2>Rechercher un bien immobilier</h2>
            <div>
            <select class="col-md-3" name="localiteselect" id="localiteselect">
            <option value="0">------selectionner la localité-----</option>
            {% for localite in localites %}
               {% if localite.id == loc %}
                    <option value="{{localite.id}}" selected="true">{{localite.libelle}}</option>
               {% else %}
                    <option value="{{localite.id}}">{{localite.libelle}}</option>
               {% endif %}

            {% endfor %}
            </select>
        
            <select class="col-md-3" name="typeselect" id="typeselect">
            <option value="0">----selectionner le type de bien---</option>
            {% for type in types %}
                {% if type.id == typeBien %}
                    <option value="{{type.id}}" selected="true">{{type.libelle}}</option>
                {% else %}
                    <option value="{{type.id}}">{{type.libelle}}</option>
               {% endif %}
            {% endfor %}
            </select>
        
            <input type="number" placeholder="saisir un prix" class="col-md-2" name="prix" value="{{prix}}">
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </div>
    </form>
    <br/>
    {%  if biens|length > 0 %}
    <div class="count">
    Nombre de bien(s) trouvé(s) : {{ biens.getTotalItemCount }}
    </div>
    <table>
        {% for i in 0..biens|length-1 %}
                   {%  if i%3 == 0 %}
                        <tr>
                   {%  endif %}
                
                   <td>
                        <img src="data:image/jpeg;base64,{{biens[i].images[0].image}}" style="width:200px;height:200px;"  /><br/>
                        {{biens[i].nomBien}}
                   </td>
                   {%  if (i+1)%3 == 0 %}
                        </tr>
                   {%  endif %}
                   
        {% else %}
            <tr>
                <td colspan="5">{{message}}</td>
            </tr>
        {% endfor %}
    </table>
   {# display navigation #}
    <div class="navigation">
        {{ knp_pagination_render(biens) }}
    </div>
    {% else %}
            {{message}}
    {% endif %}
{% endblock %}
