{% extends "::base.html.twig" %}

{% block title %}SNTImmobilierBundle:Front:searchBien{% endblock %}

{% block body %}
<form method="post">
        <div class="form-group">
            <label for="localiteselect">Localité</label>
            <select class="form-control col-md-4" name="localiteselect" id="localiteselect">
            <option value="0">------selectionner la localité-----</option>
            {% for localite in localites %}
               {% if localite.id == loc %}
                    <option value="{{localite.id}}" selected="true">{{localite.libelle}}</option>
               {% else %}
                    <option value="{{localite.id}}">{{localite.libelle}}</option>
               {% endif %}

            {% endfor %}
            </select>
        
            <label for="typeselect">Type de logement</label>
            <select class="form-control col-md-4" name="typeselect" id="typeselect">
            <option value="0">----selectionner le type de bien---</option>
            {% for type in types %}
                {% if type.id == typeBien %}
                    <option value="{{type.id}}" selected="true">{{type.libelle}}</option>
                {% else %}
                    <option value="{{type.id}}">{{type.libelle}}</option>
               {% endif %}
            {% endfor %}
            </select>
        
            <input type="number" name="prix" value="{{prix}}">
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </div>
    </form>
{% endblock %}
